{% extends 'proyecto/base.html' %}

{% block content %}

<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Trayecto</td>
            <td>Horario</td>
        </tr>
    </thead>
    <tbody>
        {% if trayectos %}
        {% for trayecto in trayectos%}
        <tr>
            <td>{{ trayecto.id }}</td>
            <td>{{ trayecto.nombre }}</td>
            <td>{{ trayecto.horario }}</td>
        </tr>
        {% endfor %}

        {% else %}
        <h5>No hay registro de trayectos</h5>

        {% endif %}
    </tbody>
</table>

{% endblock %}

